name: Build & Test

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@latest
        with:
          scan-type: fs
          ignore-unfixed: true
          format: json
          exit-code: "1"
          severity: CRITICAL,HIGH

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: v1.26.2
          args: release --clean --snapshot --skip=publish --debug
