name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and release image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: docker login -u "${{ secrets.QUAY_IO_USER }}" -p "${{ secrets.QUAY_IO_TOKEN }}" quay.io

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: v1.26.2
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_USER_TOKEN }}
